//Typography
$font-family-dragons : 'Kiro', sans-serif !default;
$font-family-base: 'Open Sans', sans-serif !default;
$font-weight-base: 400;
$headings-font-weight: bold !default;
$font-family-size-base: 0.8rem;


